html {
	font-size: 16px;
	font-family: sans-serif;
	background: blue;
}

#menu-container {
	//background: red;
	max-width: 800px;
	margin: 20px auto;
}

#menu-list {
	background: #eee;
	border-radius: 4px;
	list-style-type: none;
	display: flex;
  justify-content: space-around;
	//margin-left: -40px;
	padding-left: 0;
}

li {
	display: inline;
	padding: 20px;
	width: 25%;
	text-align: center;
}

li:hover {
	background: #ddd;
	border-radius: 5px;
}

#introduction-panel {
	max-width: calc(800px - 40px);
	margin: 20px auto;
	background: #fff;
	padding: 20px;
	border-radius: 5px;
}
